<mat-toolbar *ngIf="user" class="header">
  <span class="logo">
    <img src="assets/logo.svg" alt="Learnify Logo" height="40" />
  </span>

  <span class="spacer"></span>

  <nav class="nav-menu" *ngIf="user.rights === 'base'">
    <a class="button" id="dashboard" routerLink="/dashboard">Dashboard</a>
    <a class="button" id="upload" routerLink="/jobs/upload-job">Create a Job</a>
    <a class="button" id="status" routerLink="/jobs/status">Job Status</a>

  </nav>

  <nav class="nav-menu" *ngIf="user.rights === 'admin'">
    <a class="button" id="dashboard" routerLink="/dashboard">User Access</a>
  </nav>

  <span class="spacer"></span>

  <div class="user-info">
    <img src="assets/profile.svg" alt="User Image" height="40" />
    <div class="user-name-logout">
      <span>{{ user.username }}</span>

      <button mat-button class="log_out button" (click)="logout()">
        Log Out
      </button>
    </div>
  </div>
</mat-toolbar>
