<div *ngIf="errorMessages.length > 0" class="error-popup">
  <button class="close-btn" (click)="closeErrorPopup()">X</button>
  <ul>
    <li *ngFor="let error of errorMessages">{{ error }}</li>
  </ul>
</div>
<div class="login-container">
  <div class="login-form">
    <div class="signup-prompt">
      <span>Don't have an account?</span>
      <button (click)="switchToSignup()" class="signup-button">Sign Up</button>
    </div>

    <h2 class="login-title">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-container">
          <img class="input-icon" src="assets/email.svg" alt="Username Icon" />
          <input
            id="email"
            formControlName="email"
            type="text"
            class="form-input"
            placeholder="Email"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-container">
          <img
            class="input-icon"
            src="assets/password.svg"
            alt="Password Icon"
          />
          <input
            id="password"
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
            class="form-input"
            placeholder="Password"
          />
        </div>
      </div>

      <button
        type="submit"
        [disabled]="loginButtonDisabled || loginForm.invalid"
        class="login-button"
      >
        Login
        <div class="arrow-icon-container">
          <img
            src="assets/arrow-right.svg"
            alt="Arrow Icon"
            class="arrow-icon"
          />
        </div>
      </button>
    </form>
  </div>

  <div class="artwork-container">
    <img src="assets/logo.svg" alt="Logo" class="logo" />
    <p class="lorem-text">
      Access computational resources. <br />
      Create MPI job configurations. <br />
      Easily monitor the results.
    </p>
  </div>
</div>
