<div class="outer-container">
    <div class="login-container">
        <div class="login-form">
            <div class="signup-prompt">
                <span>Don't have an account?</span>
                <button (click)="switchToSignup()" class="signup-button">Sign Up</button>
            </div>

            <h2 class="login-title">Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="input-container">
                        <img class="input-icon" src="assets/person.svg" alt="Username Icon" />
                        <img class="input-icon" src="assets/email.svg" alt="Email Icon" />

                        <input id="username" formControlName="email" type="text" class="form-input" placeholder="Username or Email"/>
                        <img *ngIf="loginForm.get('email')?.valid && loginForm.get('email')?.touched" 
                             class="input-icon" src="assets/check.svg" alt="Check Icon" />
                    </div>
                    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']" class="error-message">
                        <small>Username or Email is required.</small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-container">
                        <img class="input-icon" src="assets/password.svg" alt="Password Icon" />
                        <input id="password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" class="form-input" placeholder="Password"/>
                        <img (click)="togglePasswordVisibility()" class="input-icon" 
                             [src]="hidePassword ? 'assets/eye.svg' : 'assets/eye-slash.svg'" 
                             alt="Toggle Password Visibility" />
                    </div>
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']" class="error-message">
                        <small>Password is required.</small>
                    </div>
                </div>

                <button type="submit" [disabled]="loginForm.invalid" class="login-button">
                    Login 
                    <div class="arrow-icon-container">
                        <img src="assets/arrow-right.svg" alt="Arrow Icon" class="arrow-icon" />
                    </div>
                </button>
                
            </form>
        </div>
    </div>
    <div class="artwork-container">
        <img src="assets/blue-art.svg" alt="Artwork" class="blue-art" />
    </div>
</div>
