<div *ngIf="loading" class="loading-message">
  <div class="loading-spinner"></div>
  <span>Loading jobs...</span>
</div>

<div class="list-container">
  <span class="loading-message" *ngIf="jobData.length===0 && !loading">No Jobs Found</span>
  <div class="clear-history-container">
    <button (click)="clearHistory()">Clear History and Delete All Jobs</button>
  </div>
  
  <div
    class="job-status-container"
    *ngFor="let job of jobData; let i = index"
    [@fadeIn]
  >
  <div class="job-bar">
    <div class="circle " [ngClass]="{
      'completed': job.status === 'completed',
      'failed': job.status === 'failed',
      'killed': job.status === 'killed'
    }">
      <div *ngIf="job.status === 'pending'" class="loading-spinner-pending"></div>
      <div *ngIf="job.status === 'running'" class="loading-spinner-running"></div>
    </div>

    <span class="job-name">{{ job.jobName || "Loading..." }}</span>

    <div class="right-end-container">

      <div class="circle button-circle" (click)="killJob(job.id)">
        <img src="assets/stop.svg" alt="Kill Job" />
      </div>
      <div class="circle button-circle" (click)="deleteJob(job.id)">
        <img src="assets/trash.svg" alt="Delete Job" />
      </div>
      <div class="circle button-circle expand-button" (click)="toggleExpand(i)">
        <img [src]="expandedJobs.has(i) ? 'assets/collapse.svg' : 'assets/expand.svg'" alt="Expand/Collapse" />
      </div>
      <div class="circle button-circle" (click)="failSafeJob(job.id)">
        <img src="assets/error.svg" alt="Fail Safe Job" />
      </div>
      <div class="circle button-circle" (click)="replayJob(job.id)">
        <img src="assets/play.svg" alt="Replay Job" />
      </div>
      <div class="circle button-circle" (click)="exportJob(job.id)">
        <img src="assets/export.svg" alt="Export Job" />
      </div>
      <div class="circle button-circle" (click)="downloadExecutable(job.fileName, job.fileContent)">
        <img src="assets/exe.svg" alt="Download Executable" />
      </div>
      <div class="circle button-circle" (click)="downloadHostfile(job.hostFile)">
        <img src="assets/hostfile.svg" alt="Download Hostfile" />
      </div>
    </div>
  </div>
    <div class="job-details" [class.expanded]="expandedJobs.has(i)">
      <table class="job-details-table">
        <tr>
          <td><strong>Job Description:</strong></td>
          <td>{{ job.jobDescription || "Not available" }}</td>
        </tr>
        <tr>
          <td><strong>Status:</strong></td>
          <td>
            <div *ngIf="job.status === 'pending'" class="loading-spinner"></div>
            {{ job.status || "Unknown" }}
          </td>
        </tr>
        <tr>
          <td><strong>Begin Time:</strong></td>
          <td>{{ job.beginDate || "Not available" }}</td>
        </tr>
        <tr>
          <td><strong>End Time:</strong></td>
          <td>{{ job.endDate || "Not available" }}</td>
        </tr>
        <tr>
          <td><strong>Number of Processes:</strong></td>
          <td>{{ job.numProcesses || "Not available" }}</td>
        </tr>
        <tr>
          <td><strong>Environment Variables:</strong></td>
          <td>{{ job.environmentVars || "Not available" }}</td>
        </tr>
        <tr>
          <td><strong>Executable:</strong></td>
          <td>
            <a
              *ngIf="job.fileName"
              href="javascript:void(0)"
              (click)="downloadExecutable(job.fileName, job.fileContent)"
            >
              {{ job.fileName }}
            </a>
          </td>
        </tr>
        <tr>
          <td><strong>Display Map:</strong></td>
          <td>{{ job.displayMap || "Not available" }}</td>
        </tr>
        <tr>
          <td><strong>Rank By:</strong></td>
          <td>{{ job.rankBy || "Not available" }}</td>
        </tr>
        <tr>
          <td><strong>Map By:</strong></td>
          <td>{{ job.mapBy || "Not available" }}</td>
        </tr>
        <tr>
          <td><strong>Hostfile:</strong></td>
          <td>
            <button *ngIf="job.hostFile" (click)="downloadHostfile(job.hostFile)">
              Download Hostfile
            </button>
            <pre>{{ decodeBase64(job.hostFile) || "No hostfile available" }}</pre>
          </td>
        </tr>
        <tr>
          <td><strong>Output:</strong></td>
          <td>
            <div class="output-text">
              <pre>{{ job.output || "No output" }}</pre>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>