.charts-container {
  padding: 20px;
  overflow-y: auto !important;
  height: 90vh;
}

.chart-section {
  margin-bottom: 40px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
