<div class="charts-container">
  <div class="quota-panel" *ngIf="userQuota">
    <h3>
      User Quota
      <div class="info-container">
        <span class="info-icon">&#9432;</span>
        <div class="info-popup">
          These are the maximum limits configured for creating MPI jobs on the
          cluster.<br />
          Please note: if you exceed these quotas, you won't be able to submit
          jobs that do not comply with them.
          <br /><br />
          The limitations mainly refer to the number of jobs, their distribution
          across nodes, and maximum runtime.
          <br /><br />
          Additionally, the cluster itself has its own global constraints: In
          periods of high load, your jobs may remain pending even if your
          personal quotas are respected.
        </div>
      </div>
    </h3>
    <table class="quota-table">
      <tbody>
        <tr>
          <td>Max Processes per User</td>
          <td>{{ userQuota.max_processes_per_user }}</td>
        </tr>
        <tr>
          <td>Max Processes per Node per User</td>
          <td>{{ userQuota.max_processes_per_node_per_user }}</td>
        </tr>
        <tr>
          <td>Max Running Jobs</td>
          <td>{{ userQuota.max_running_jobs }}</td>
        </tr>
        <tr>
          <td>Max Pending Jobs</td>
          <td>{{ userQuota.max_pending_jobs }}</td>
        </tr>
        <tr>
          <td>Max Job Time (s)</td>
          <td>{{ userQuota.max_job_time }}</td>
        </tr>
        <tr>
          <td>Allowed Nodes</td>
          <td>{{ userQuota.allowed_nodes }}</td>
        </tr>
        <tr>
          <td>Max Nodes per Job</td>
          <td>{{ userQuota.max_nodes_per_job }}</td>
        </tr>
        <tr>
          <td>Max Total Jobs</td>
          <td>{{ userQuota.max_total_jobs }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="chart-list">
    <div class="chart-section">
      <h3>Job Count by Status</h3>
      <canvas
        baseChart
        [data]="statusChartData"
        [type]="statusChartType"
        [options]="chartOptions"
        height="200"
        style="max-width: 100%; width: 100%"
      ></canvas>
    </div>

    <div class="chart-section">
      <h3>Processes per Job</h3>
      <canvas
        baseChart
        [data]="processesChartData"
        [type]="processesChartType"
        [options]="chartOptions"
        height="200"
        style="max-width: 100%; width: 100%"
      ></canvas>
    </div>

    <div class="chart-section">
      <h3>Job Duration</h3>
      <canvas
        baseChart
        [data]="durationChartData"
        [type]="durationChartType"
        [options]="chartOptions"
        height="200"
        style="max-width: 100%; width: 100%"
      ></canvas>
    </div>
  </div>
</div>
